<div class="grid-layout">
  <div class="col">
    <mat-card class="card-header">
      <h2 style="margin-bottom: 0; display: flex;">
        Total supply:
        <ng-container *ngIf="totalSupply; else loadingone">
          {{ totalSupply }}
        </ng-container>
        <ng-template #loadingone>
          <mat-spinner style="margin-left: 20px" diameter="20"></mat-spinner>
        </ng-template>
      </h2>
      <h2 style="display: flex;">
        Organization's balance:
        <ng-container *ngIf="organization; else loadingtwo">
          {{ organization.balance }}
        </ng-container>
        <ng-template #loadingtwo>
          <mat-spinner style="margin-left: 20px" diameter="20"></mat-spinner>
        </ng-template>
      </h2>
    </mat-card>
    <h1 style="margin-top: 1rem;">Points for menza</h1>
    <mat-form-field appearance="outline">
      <input matInput [(ngModel)]="numOfPoints" type="number">
    </mat-form-field>
    <button mat-stroked-button [disabled]="!numOfPoints" (click)="addPoints()">Add points</button>
    <ng-container *ngIf="users$ | async as mp; else loadingthree">
      <app-list-points [users]="mp" [organization]="organization" (studentPoints)="assignPointsToStudent($event)"></app-list-points>
    </ng-container>
    <ng-template #loadingthree>
      <mat-spinner></mat-spinner>
    </ng-template>
  </div>
  <div class="col">
    <h1 style="margin-top: 1rem;">Rector award</h1>
    <button mat-stroked-button (click)="createAward()">Create award</button>
    <ng-container *ngIf="awards && organization; else loadingfour">
      <mat-card style="margin-top: 1rem;" *ngFor="let award of awards">
        <mat-card-header>
          <mat-card-title>
            ID: {{ award.tokenId }}
          </mat-card-title>
        </mat-card-header> 
        <mat-card-content>
          <p>Owner: {{ award.owner | owner }}</p>
          <p *ngIf="award.holder !== 'Admin'">Holder: {{ award.holder }}</p>
        </mat-card-content>
        <button *ngIf="award.holder === 'Admin'" mat-stroked-button [matMenuTriggerFor]="menu">
          Assign award to student
        </button>
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngFor="let user of users$ | async" (click)="assignAwardToStudent(award, user)">{{ user.id }}</button>
        </mat-menu>
      </mat-card>
    </ng-container>
    <ng-template #loadingfour>
      <mat-spinner></mat-spinner>
    </ng-template>
  </div>
</div>
