.list-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 200px;
  margin: 1em 0px;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  height: 50px;
}